.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-box {
    width: 100%;
    max-width: 800px;
    padding: 20px 40px;
    background: #fff;
    text-align: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 3px solid #6A5ACD;
    animation: float 6s ease-in-out infinite;
}

.register-box h1 {
    margin: 0 0 30px;
    padding: 10px;
    color: #333;
    font-size: 24px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.form-row {
    display: flex;
    justify-content: space-between;

}
.form-label{
    display: flex;
    direction: initial;
    margin: 4px;

}

.imagen {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    margin-bottom: 2em;
}

.puntaje {
    margin-top: -10px;
    font-size: 24px;
}

.textbox{
    margin-top: 1em;
    position: relative;
    bottom: 30px;
}

.textbox, .radiobox {
    flex: 1;
}

.textbox input {
    width: 100%;
    padding: 10px;
    background: #f1f1f1;
    border: none;
    outline: none;
    color: #333;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.textbox select {
    width: 100%;
    padding: 10px;
    background: #f1f1f1;
    border: none;
    outline: none;
    color: #333;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer; /* Añadido para el cursor */
}

.textbox select:focus {
    border: 2px solid #6A5ACD; /* Estilo para cuando el select está enfocado */
}

.textbox select option {
    max-height: 40px; /* Altura máxima del desplegable */
    background: #fff; /* Fondo del desplegable */
    color: #333; /* Color del texto del desplegable */
}

.btn {
    width: 100%;
    background: #6A5ACD;
    border: none;
    padding: 10px;
    margin: 2px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    border-radius: 10px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #483D8B;
}

.btn-perfil{
    width: 100%;
    background: #6A5ACD;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    border-radius: 10px;
    transition: background 0.3s ease;
}
.btn-contenedor{
    display: flex;
    flex-direction: initial;
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsive Styles */
@media (max-width: 480px) {
    .register-box {
        padding: 20px;
    }

    .register-box h1 {
        font-size: 20px;
    }

    .textbox input {
        font-size: 16px;
        padding: 8px;
    }

    .btn {
        font-size: 16px;
        padding: 8px;
    }
}

.register-link {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.register-link a {
    color: #6A5ACD;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Responsive Styles */
@media (max-width: 480px) {
    .login-box, .register-box {
        padding: 20px;
    }

    .login-box h1, .register-box h1 {
        font-size: 20px;
    }

    .textbox input {
        font-size: 16px;
        padding: 8px;
    }

    .btn {
        font-size: 16px;
        padding: 8px;
    }

    .register-link {
        font-size: 12px;
    }
}