.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-box {
    width: 100%;
    max-width: 800px;
    padding: 40px;
    background: #fff;
    text-align: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 3px solid #6A5ACD;
    animation: float 6s ease-in-out infinite;
}

.register-box h1 {
    margin: 0 0 30px;
    padding: 0;
    color: #333;
    font-size: 24px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.textbox{
    margin-top: 1em;
}

.textbox label{
    width: 100%;
    padding: 10px;
    background: lightslategrey;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.textbox, .radiobox {
    flex: 1;
    margin-right: 10px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    background: #f1f1f1;
    border: none;
    outline: none;
    color: #333;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.btn {
    width: 100%;
    background: #6A5ACD;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    border-radius: 10px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #483D8B;
}

/* Responsive Styles */
@media (max-width: 480px) {
    .register-box {
        padding: 20px;
    }

    .register-box h1 {
        font-size: 20px;
    }

    .textbox input {
        font-size: 16px;
        padding: 8px;
    }

    .btn {
        font-size: 16px;
        padding: 8px;
    }
}

.register-link {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.register-link a {
    color: #6A5ACD;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Responsive Styles */
@media (max-width: 480px) {
    .login-box, .register-box {
        padding: 20px;
    }

    .login-box h1, .register-box h1 {
        font-size: 20px;
    }

    .textbox input {
        font-size: 16px;
        padding: 8px;
    }

    .btn {
        font-size: 16px;
        padding: 8px;
    }

    .register-link {
        font-size: 12px;
    }
}