.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.lobby-box {
    width: 100%;
    max-width: 600px;
    padding: 40px;
    position: relative;
    background: #fff;
    text-align: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 3px solid #6A5ACD;
    animation: float 6s ease-in-out infinite;
    box-sizing: border-box;
}

.lobby-box h1 {
    margin: 0 0 20px;
    padding: 0;
    color: #333;
    font-size: 24px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.lobby-box p {
    margin: 0 0 20px;
    padding: 0;
    color: #333;
    font-size: 18px;
}

.btn {
    width: 100%;
    background: #6A5ACD;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    border-radius: 10px;
    transition: background 0.3s ease;
    margin-bottom: 10px; /* Separar los botones */
}

.btn:hover {
    background: #483D8B;
}

.game-list {
    text-align: center;
    margin: 3px;
}

.game-list ul {
    list-style-type: none;
    max-height: 100px; /* Altura máxima de la caja */
    overflow-y: auto; /* Habilitar el scroll vertical */
    border: 1px solid #ccc;
    margin: -1px;
}

.game-list li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
    padding: .4em 0;
}

.game-list li a{
    text-decoration: none;
}

.game-list li:hover {
    background-color: #8376d8;

}

/* Estilos para WebKit (Chrome, Safari, etc.) */
.game-list ul::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
}

.game-list ul::-webkit-scrollbar-thumb {
    background-color: #6A5ACD; /* Color del thumb (barra) */
    border-radius: 4px; /* Borde redondeado */
}

.game-list ul::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color del track (fondo) */
}

/* Estilos para Firefox */
.game-list ul::-webkit-scrollbar-thumb {
    background-color: #6A5ACD; /* Color del thumb (barra) */
    border-radius: 4px; /* Borde redondeado */
}

.game-list ul::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color del track (fondo) */
}

/* Responsive Styles */
@media (max-width: 480px) {
    .lobby-box {
        padding: 20px;
    }

    .lobby-box h1 {
        font-size: 20px;
    }

    .lobby-box p {
        font-size: 16px;
    }

    .btn {
        font-size: 16px;
        padding: 8px;
    }

    .game-list h2 {
        font-size: 18px;
    }
}

.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.audio-control {
    background-color: #4CAF50; /* Color de fondo verde */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.audio-control:hover {
    background-color: white;
    color: #4CAF50;
    border: 2px solid #4CAF50;
}

.audio-control-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}