 <link rel="stylesheet" href="/ProyectoFinal/public/css/lobby.css">
<head>
    <title>Gráfico JpGraph</title>
    <!-- Incluye los estilos CSS de ApexCharts -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts@3.28.0/dist/apexcharts.min.css">
    <!-- Incluye el script de ApexCharts -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- Incluye el script para descargar pdf -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
</head>
<body>
{{#usuarioActivo}}
<div class="container">
            <div class="lobby-box">
                <h1>Bienvenido {{nombreUsuario}}</h1>
                <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=getTablas'">Ver tabla</button>
                <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=getGraficos'">Ver graficos</button>
                <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=usuario&action=cerrarSesion'">Cerrar Sesión</button>
            </div>
        </div>
        {{/usuarioActivo}}




</body>
</html>