 <link rel="stylesheet" href="/ProyectoFinal/public/css/lobby.css">
<head>
    <title>Gráfico JpGraph</title>
    <!-- Incluye los estilos CSS de ApexCharts -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts@3.28.0/dist/apexcharts.min.css">
    <!-- Incluye el script de ApexCharts -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- Incluye el script para descargar pdf -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
</head>
<body>
{{#usuarioActivo}}
    <div class="container">

        {{#menu}}
         <div class="lobby-box">
              <h1>Bienvenido {{nombreUsuario}}</h1>
              <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=getMenuTablas'">Ver tablas</button>
              <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=getGraficos'">Ver graficos</button>
              <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=usuario&action=cerrarSesion'">Cerrar Sesión</button>
         </div>
         {{/menu}}

         {{#menuTabla}}
            <div class="lobby-box">
               <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=getEstadisticas'">Estadisticas generales</button>
               <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=getPorcentaje'">Preguntas bien respondidas por usuario</button>
               <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=getUsuariosPorPais'">Usuarios por pais</button>
               <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=getUsuariosPorGenero'">Usuarios por genero</button>
               <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=getUsuariosPorEdad'">Usuarios por edad</button>
               <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=get'">Volver</button>
            </div>
         {{/menuTabla}}

         {{#menuGrafico}}
            <div class="lobby-box">
               <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=getUsuariosRegistrados'">Grafico usuarios</button>
               <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=getPartidasRegistrados'">Grafico preguntas</button>
               <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=getGraficoUsuarios'">Cantidad de jugadores</button>
               <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=getGrafiocsPartidas'">Cantidad de partidas jugadas</button>
               <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=getGraficosPreguntas'">Cantidad de preguntas en el juego</button>
               <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=getGraficosPreguntascreadas'">Cantidad de preguntas creadas</button>
               <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=getGraficosPais'">Cantidad de usuarios por pais</button>
               <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=getGraficosSexo'">Cantidad de usuarios por sexo</button>
               <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=getGraficosEdad'">Cantidad de usuarios por grupo de edad</button>
               <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=get'">Volver</button>
            </div>
         {{/menuGrafico}}

    </div>
{{/usuarioActivo}}