    <link rel="stylesheet" href="/ProyectoFinal/public/css/lobby.css">
</head>
<body>
{{#usuarioActivo}}
    <div class="container">
            <div class="lobby-box">
                <h1>Bienvenido {{nombreUsuario}}</h1>
                <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=editor&action=getPreguntas'">Ver preguntas</button>
                <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=editor&action=getPreguntasReportadas'">Ver preguntas reportadas</button>
                <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=editor&action=getPreguntasSugeridas'">Ver preguntas sugeridas</button>
                <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=usuario&action=cerrarSesion'">Cerrar Sesión</button>
            </div>
        </div>
        {{#usuarioActivo}}