    <link rel="stylesheet" href="/public/css/lobby.css">
</head>
<body>
{{#usuarioActivo}}
    <div class="container">
            <div class="lobby-box">
                <h1>Bienvenido {{nombreUsuario}}</h1>
                <button class="btn" onclick="location.href='/Editor/getPreguntas'">Ver preguntas</button>
                <button class="btn" onclick="location.href='/Editor/getPreguntasReportadas'">Ver preguntas reportadas</button>
                <button class="btn" onclick="location.href='/Editor/getPreguntasSugeridas'">Ver preguntas sugeridas</button>
                <button class="btn" onclick="location.href='/Usuario/cerrarSesion'">Cerrar Sesión</button>
            </div>
        </div>
        {{/usuarioActivo}}