   <title>Gráfico JpGraph</title>
    <!-- Incluye los estilos CSS de ApexCharts -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts@3.28.0/dist/apexcharts.min.css">
    <!-- Incluye el script de ApexCharts -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- Incluye el script para descargar pdf -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    <link rel="stylesheet" href="/ProyectoFinal/public/css/lobby.css">
    <style>
        #chart {
           max-width: 600px;
           margin: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="lobby-box">
            {{#usuarios}}
            <h2 style="margin-top:0">Usuarios</h2>
            <form id="filtroForm" action="/ProyectoFinal/index.php?controller=admin&action=getUsuariosRegistrados" method="POST">
            {{/usuarios}}
            {{#partidas}}
            <h2 style="margin-top:0">Partidas</h2>
            <form id="filtroForm" action="/ProyectoFinal/index.php?controller=admin&action=getPartidasRegistrados" method="POST">
            {{/partidas}}
             {{#preguntas}}
             <h2 style="margin-top:0">Pregunta</h2>
             <form id="filtroForm" action="/ProyectoFinal/index.php?controller=admin&action=getPreguntasRegistradas" method="POST">
            {{/preguntas}}
                <select id="filtroSelect" name="filtro">
                    <option>Seleccione un filtro</option>
                    <option value="dia">Ultimo dia</option>
                    <option value="semana">Ultima semana</option>
                    <option value="mes">Ultimo mes</option>
                    <option value="anio">Ultimo año</option>
                </select>
            </form>

            {{#usuarios}}
            <div style="display:flex;flex-direction:column">
                 <div id="chart"></div>
                 <button class="btn" id="download-pdf">Descargar como PDF</button>
                 {{#usuariosFiltro}}
                 <p style="display:none" class="jugadores">{{cantidad_usuarios}}</p>
                 <p style="display:none" class="fecha">{{dia}}</p>
                 {{/usuariosFiltro}}
            </div>
            <script src="/ProyectoFinal/public/js/graficos/cantidadDeJugadores.js"></script>
            {{/usuarios}}

            {{#partidas}}
            <div style="display:flex;flex-direction:column">
                 <div id="chart"></div>
                 <button class="btn" id="download-pdf">Descargar como PDF</button>
                 {{#partidasFiltro}}
                 <p style="display:none" class="partidas">{{cantidad_partidas}}</p>
                 <p style="display:none" class="fecha">{{dia}}</p>
            {{/partidasFiltro}}
            </div>
            <script src="/ProyectoFinal/public/js/graficos/cantidadDePartidas.js"></script>
            {{/partidas}}

             {{#preguntas}}
             <div style="display:flex;flex-direction:column">
                  <div id="chart"></div>
                  <button class="btn" id="download-pdf">Descargar como PDF</button>
                  {{#preguntasFiltro}}
                  <p style="display:none" class="preguntas">{{cantidad_preguntas}}</p>
                  <p style="display:none" class="fecha">{{dia}}</p>
                  {{/preguntasFiltro}}
             </div>
             <script src="/ProyectoFinal/public/js/graficos/cantidadDePreguntas.js"></script>
             {{/preguntas}}

            <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=getGraficos'">Volver</button>
        </div>
    </div>

<script src="/ProyectoFinal/public/js/graficos/filtro.js"></script>
<script src="/ProyectoFinal/public/js/descargarGraficoPdf.js"></script>

