<link rel="stylesheet" href="/public/css/inicioDeSesion.css">
</head>
<body>
    <div class="container">
        <div class="register-box login-box">
            <h1>Inicia Sesión</h1>
            <form action="/usuario/iniciarSesion" method="post">
                <div class="textbox">
                    <input type="text" placeholder="Usuario" name="nombreUsuario" required>
                </div>
                <div class="textbox">
                    <input type="password" placeholder="Contraseña" name="password" required>
                </div>
                <button type="submit" class="btn">Entrar</button>
            </form>
            {{#error}}
               <p style="color:red">{{error}}</p>
            {{/error}}
            <p class="register-link">¿No tienes cuenta? <a href="/usuario/getRegistro">Regístrate</a></p>
        </div>
    </div>
