    <link rel="stylesheet" href="/ProyectoFinal/public/css/lobby.css">
</head>
<body>
{{#usuarioActivo}}
    <div class="container">
            <div class="lobby-box">
                <h1>Bienvenido {{nombreUsuario}}</h1>
                <p>Puntaje mas alto conseguido: {{puntaje_total}}</p>
                <p>Trampas: {{trampas}} - Monedas: {{monedas}}</p>
                <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=partida&action=get'">Crear Nueva
                    Partida</button>
                <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=lobby&action=verRanking'">Ver Ranking</button>
                <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=lobby&action=verPerfil'">Ver Perfil</button>
                <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=usuario&action=cerrarSesion'">Cerrar Sesión</button>
                <div class="game-list">
                    <h2>Partidas Jugadas</h2>
                    <ul>
                        {{#partidas}}
                            <li><a>Partida: {{numeroDePartida}} - Puntaje: {{puntaje_obtenido}} - Fecha: {{fecha}}</a></li>
                        {{/partidas}}
                        {{^partidas}}
                            <p>No hay partidas disponibles.</p>
                        {{/partidas}}
                    </ul>
                </div>
                <a href="/ProyectoFinal/index.php?controller=lobby&action=comprarTrampa"><h3>Comprar trampa</h3></a>
                {{#sinMonedas}}
                    <p style="color:red">{{sinMonedas}}</p>
                {{/sinMonedas}}
                <a href="/ProyectoFinal/index.php?controller=lobby&action=sugerirPregunta">Sugerir pregunta</a>
            </div>
        </div>
        {{/usuarioActivo}}