<link rel="stylesheet" href="/ProyectoFinal/public/css/lobby.css">
</head>
<body>
{{#pregunta}}
    <div class="container">
                <div class="lobby-box">
                    <h1>Pregunta {{numeroPregunta}}</h1>
                    <p>Categoria: <span style="color:white;background-color:{{color}};padding:5px;border-radius:10px;font-weight:900">{{categoria}}</span></p>
                    <p>Dificultad: <span style="color:white;background-color:{{colorDificultad}};padding:5px;border-radius:10px;font-weight:900">{{dificultad}}</span></p>
                    <p>{{texto_pregunta}}</p>
                    <form action="/ProyectoFinal/index.php?controller=partida&action=verificarRespuesta" method="post">
                        <input type="hidden" name="respuestaCorrecta" value="{{respuesta_correcta}}">
                        <button class="btn" name="respuesta" value="1">{{respuesta_1}}</button>
                        <button class="btn" name="respuesta" value="2">{{respuesta_2}}</button>
                        <button class="btn" name="respuesta" value="3">{{respuesta_3}}</button>
                        <button class="btn" name="respuesta" value="4">{{respuesta_4}}</button>
                    </form>
                </div>
            </div>
            {{/pregunta}}