<link rel="stylesheet" href="/ProyectoFinal/public/css/lobby.css">
<link rel="stylesheet" href="/ProyectoFinal/public/css/reloj.css">
</head>
<body onload="startCountdown()">
{{#pregunta}}
    <div class="container">
                <div class="lobby-box">


                    <h1>Pregunta {{numeroPregunta}}</h1>
                    <p>Categoria: <span style="color:white;background-color:{{color}};padding:5px;border-radius:10px;font-weight:900">{{categoria}}</span></p>
                    <p>Dificultad: <span style="color:white;background-color:{{colorDificultad}};padding:5px;border-radius:10px;font-weight:900">{{dificultad}}</span></p>

                    <div class="countdown">
                            <div id="countdown">30</div>
                            <span>segundos</span>
                        </div>
                    <p>{{texto_pregunta}}</p>
                    <form action="/ProyectoFinal/index.php?controller=partida&action=verificarRespuesta" method="post">
                        <input type="hidden" name="respuestaCorrecta" value="{{respuesta_correcta}}">
                        <button class="btn" name="respuesta" value="1">{{respuesta_1}}</button>
                        <button class="btn" name="respuesta" value="2">{{respuesta_2}}</button>
                        <button class="btn" name="respuesta" value="3">{{respuesta_3}}</button>
                        <button class="btn" name="respuesta" value="4">{{respuesta_4}}</button>
                    </form>
                    <a href="/ProyectoFinal/index.php?controller=partida&action=reportarPregunta">Reportar</a>
                </div>
            </div>
            {{/pregunta}}
            <link rel="stylesheet" href="">
            <script src="/ProyectoFinal/public/js/reloj.js"></script>