<link rel="stylesheet" href="/ProyectoFinal/public/css/inicioDeSesion.css">
<link rel="stylesheet" href="/ProyectoFinal/public/css/lobby.css">
<link rel="stylesheet" href="/ProyectoFinal/public/css/modalPerfil.css">
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDO-cs-AzjPpidbANQOQr9bWXK1mw0I9Ww&callback=initMap"></script>
<script src="/ProyectoFinal/public/js/mapaPerfil.js"></script>
</head>
<body>
<div class="container">
    <div class="register-box">
        {{#esUsuarioSesion}}
        {{#usuario}}
        <form action="/ProyectoFinal/index.php?controller=lobby&action=actualizarUsuario" method="post">
            <div class="form-row-imagen">
                <img class="imagen" src="./public/imagenes/perfiles/{{foto}}">
            </div>
            <div class="form-row">
                <div class="textbox">
                    <label for="nombreCompleto" class="form-label">Nombre completo:</label>
                    <input type="text" value="{{nombreCompleto}}" name="nombreCompleto" required>
                </div>
                <div class="textbox">
                    <label for="anioDeNacimiento" class="form-label">Año de nacimiento:</label>
                    <input type="date" value="{{anioDeNacimiento}}" name="anioDeNacimiento" required>
                </div>
            </div>
            <div class="form-row">
                <div class="textbox">
                    <label for="nombreUsuario" class="form-label">Nombre de usuario:</label>
                    <input type="text" value="{{nombreUsuario}}" name="nombreUsuario" disabled>
                </div>
                <div class="textbox">
                     <label for="password" class="form-label">Contraseña:</label>
                     <input type="text" value="{{password}}" name="password" required>
                </div>
            </div>
            <div class="form-row">
                <div class="radiobox">
                    <label for="genero" class="form-label">Genero:</label>
                    <label for="masculino">Masculino</label>
                    <input type="radio" id="masculino" name="genero" value="masculino" {{#esMasculino}}checked{{/esMasculino}} required>
                    <label for="femenino">Femenino</label>
                    <input type="radio" id="femenino" name="genero" value="femenino" {{#esFemenino}}checked{{/esFemenino}} required>
                </div>
                <div class="textbox">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" value="{{email}}" name="email" disabled>
                </div>
            </div>
             <div class="form-row" style="display:none">
                  <input type="text" id="pais" value="{{pais}}" name="pais" required>
                  <input type="text" id="ciudad" value="{{ciudad}}" name="ciudad" required>
             </div>

            <div id="map-container" style="width: 100%; height: 180px; margin-top: -20px;"></div>
            {{#error}}
            <p style="color:red">{{error}}</p>
            {{/error}}
            <div class="btn-contenedor">
                <button type="submit" class="btn-perfil">Modificar</button>
            </div>
        </form>
        <div class="btn-contenedor">
            <button type="submit" class="btn-perfil" onclick="location.href='/ProyectoFinal/index.php?controller=lobby&action=get'">Volver</button>
        </div>
        <p style="color:green">{{mensaje}}</p>
        {{/usuario}}
        {{/esUsuarioSesion}}

        {{^esUsuarioSesion}}
        {{#usuario}}
        <form action="/ProyectoFinal/index.php?controller=lobby&action=verRanking" method="post">
            <div class="form-row-imagen">
                 <img class="imagen" src="./public/imagenes/perfiles/{{foto}}">
                 <p class="puntaje"> Puntaje final: {{puntaje_total}} </p>
            </div>
            <div class="form-row">
                <div class="textbox">
                    <label for="nombreUsuario">Nombre de usuario</label>
                    <input type="text" value="{{nombreUsuario}}" name="nombreUsuario" disabled>
                </div>
                <div class="textbox">
                    <label for="anioDeNacimiento">Año de nacimiento</label>
                    <input type="date" value="{{anioDeNacimiento}}" name="anioDeNacimiento" disabled>
                </div>
            </div>
            <div class="form-row" style="display:none">
                <div id="n">{{nombreUsuario}}</div>
                <input type="text" id="pais" value="{{pais}}" name="pais" required>
                <input type="text" id="ciudad" value="{{ciudad}}" name="ciudad" required>
            </div>
             <p id="map-container" style="width: 100%; height: 180px;  margin-top: -20px;"></p>

            <div class="game-list">
                <label>Partidas jugadas</label>
                <ul style="height:100px">
                    {{#partidas}}
                    <li><a href="/ProyectoFinal/index.php/partida/ver/{{IDPartida}}">Partida: {{numeroDePartida}} - Puntaje: {{puntaje_obtenido}} - Resultado: {{resultado_texto}}</a></li>
                    {{/partidas}}

                    {{^partidas}}
                    <p>No hay partidas disponibles.</p>
                    {{/partidas}}
                </ul>
            </div>

            <button type="button" class="btn" id="toggleQRButton">Mostrar QR</button> <!-- Botón para abrir/cerrar el modal -->
            <button type="submit" class="btn">Volver</button>
        </form>
        {{/usuario}}
        {{/esUsuarioSesion}}
    </div>
</div>

<!-- Modal para mostrar el QR -->
<div id="qrModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Código QR</h2>
        <div id="qr-container"></div> <!-- Contenedor para el código QR -->
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script src="/ProyectoFinal/public/js/qr.js"></script>
