<link rel="stylesheet" href="/ProyectoFinal/public/css/tablaPreguntas.css">
</head>
<body>
    <div class="container">
        <div class="lobby-box">
            {{#preguntasTotales}}
                <h2 style="margin-top:0">Preguntas activas</h2>
            {{/preguntasTotales}}
            {{#preguntasReportadas}}
                <h2 style="margin-top:0">Preguntas reportadas</h2>
            {{/preguntasReportadas}}
            {{#preguntasSugeridas}}
                <h2 style="margin-top:0">Preguntas sugeridas</h2>
            {{/preguntasSugeridas}}
            <div class="game-list">
                <table class="preguntas-table">
                    <thead>
                        <tr>
                            <th>Categoría</th>
                            <th>Pregunta</th>
                            <th>Respuesta Correcta</th>
                            <th>Respuesta 1</th>
                            <th>Respuesta 2</th>
                            <th>Respuesta 3</th>
                            <th>Respuesta 4</th>
                            <th>Dificultad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#preguntas}}
                        <tr>
                            <td>{{nombre_categoria}}</td>
                            <td>{{texto_pregunta}}</td>
                            <td>{{respuesta_correcta}}</td>
                            <td>{{respuesta_1}}</td>
                            <td>{{respuesta_2}}</td>
                            <td>{{respuesta_3}}</td>
                            <td>{{respuesta_4}}</td>
                            <td>{{dificultad}}</td>
                            <td>
                                {{#preguntasTotales}}
                                <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=editor&action=modificarPregunta&idPregunta={{id}}'">Modificar</button>
                                <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=editor&action=eliminarPregunta&idPregunta={{id}}'">Eliminar</button>
                                {{/preguntasTotales}}
                                {{#preguntasReportadas}}
                                <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=editor&action=aprobarPreguntaReportada&idPregunta={{id}}'">Aprobar</button>
                                <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=editor&action=eliminarPregunta&idPregunta={{id}}&reporte'">Eliminar</button>
                                {{/preguntasReportadas}}
                                {{#preguntasSugeridas}}
                                <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=editor&action=validarPreguntaSugerida&idPregunta={{id}}&valida'">Aprobar</button>
                                <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=editor&action=validarPreguntaSugerida&idPregunta={{id}}'">Rechazar</button>
                                {{/preguntasSugeridas}}
                            </td>
                        </tr>
                        {{/preguntas}}
                        {{^preguntas}}
                        <tr>
                            {{#preguntasTotales}}
                                <td colspan="9">No hay preguntas Activas</td>
                                {{/preguntasTotales}}
                            {{#preguntasReportadas}}
                                <td colspan="9">No hay preguntas reportadas</td>
                            {{/preguntasReportadas}}
                            {{#preguntasSugeridas}}
                                <td colspan="9">No hay preguntas sugeridas</td>
                            {{/preguntasSugeridas}}
                        </tr>
                        {{/preguntas}}
                    </tbody>
                </table>
            </div>
        </div>
        <div style="display:flex;justify-content:end;gap:1em">
            {{#preguntasTotales}}
                <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=editor&action=crearPregunta'">Crear pregunta</button>
            {{/preguntasTotales}}
            <button style="align-items:end" class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=editor&action=get'">Volver</button>
        </div>
    </div>
</body>
</html>

