    <link rel="stylesheet" href="/public/css/ranking.css">
</head>
<body>
    <div class="container">
            <div class="lobby-box">
                <h1>Ranking</h1>
                <div class="game-list">
                    <ul>
                    {{#usuarios}}
                        <a href="/Lobby/verPerfil&usuarioBuscado={{nombreUsuario}}"><li>{{numeroDeUsuario}} - {{nombreUsuario}} - Puntaje: {{puntaje_total}}</li><a>
                    {{/usuarios}}
                    {{^usuarios}}
                        <p>No hay usuarios disponibles.</p>
                    {{/usuarios}}
                    </ul>
                </div>
                <button class="btn" onclick="location.href='/Lobby/lobbyView'">Volver</button>
            </div>
        </div>
