    <link rel="stylesheet" href="/ProyectoFinal/public/css/lobby.css">
</head>
<body>
    <div class="container">
            <div class="lobby-box">
                <h1>Ranking</h1>
                <div class="game-list">
                    <h2>Mejores jugadores</h2>
                    <ul>
                        <li>Jugador 1 - Puntaje: 100</li>
                        <li>Jugador 2 - Puntaje: 95</li>
                        <li>Jugador 3 - Puntaje: 90</li>
                        <li>Jugador 4 - Puntaje: 85</li>
                        <li>Jugador 5 - Puntaje: 80</li>
                        <li>Jugador 6 - Puntaje: 75</li>
                        <li>Jugador 7 - Puntaje: 70</li>
                        <li>Jugador 8 - Puntaje: 65</li>
                        <li>Jugador 9 - Puntaje: 60</li>
                        <li>Jugador 10 - Puntaje: 55</li>
                    </ul>
                </div>
                <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=lobby&action=get'">Volver</button>
            </div>
        </div>
