<div class="register-container">
    <h2>Registro</h2>
    <form action="/ProyectoFinal/index.php/usuario/registrar" method="post">
        <input type="text" name="nombreUsuario" placeholder="Nombre de Usuario" required>
        <input type="email" name="email" placeholder="Correo Electrónico" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <input type="password" name="passwordRepetida" placeholder="Confirmar Contraseña" required>
        {{#error}}
        <p>{{error}}</p>
        {{/error}}
        <input type="submit" value="Registrarse">
    </form>
</div>