<div class="register-container">
    <h2>Registro</h2>
    <form action="/ProyectoFinal/index.php/InicioDeSesion/get" method="post">
        <input type="text" name="username" placeholder="Nombre de Usuario" required>
        <input type="email" name="email" placeholder="Correo Electrónico" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <input type="password" name="confirm_password" placeholder="Confirmar Contraseña" required>
        <input type="submit" value="Registrarse">
    </form>
</div>