
{{#estadisticas}}
<link rel="stylesheet" href="/ProyectoFinal/public/css/inicioDeSesion.css">
<link rel="stylesheet" href="/ProyectoFinal/public/css/lobby.css">
<style>
    /* Estilos personalizados para el select */
    .custom-select {
      width: 200px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #6A5ACD;
      font-size: 16px;
      margin-bottom:2em;
      cursor:pointer;
      color: white;
      outline:none;
    }
  </style>
</head>
<body>
<div class="container" style="flex-direction:column">
    <div class="register-box">
        <select id="filterSelect" class="custom-select">
              <option value="total">Total</option>
              <option value="dia">Día</option>
              <option value="semana">Semana</option>
              <option value="mes">Mes</option>
              <option value="anio">Año</option>
        </select>
            <div class="form-row">

                <div class="textbox">
                    <label for="nombreCompleto" class="form-label">Cantidad de usuarios:</label>
                    <input type="text" value="{{cantidad_usuarios}}" name="nombreCompleto" readonly>
                </div>
                 <div class="textbox">
                     <label for="nombreCompleto" class="form-label">Cantidad de partidas:</label>
                     <input type="text" value="{{cantidad_partidas}}" name="nombreCompleto" readonly>
                 </div>
            </div>
            <div class="form-row">
                <div class="textbox">
                    <label for="nombreUsuario" class="form-label">Cantidad de preguntas:</label>
                    <input type="text" value="{{cantidad_preguntas}}" name="nombreUsuario" readonly>
                </div>
                <div class="textbox">
                    <label for="nombreUsuario" class="form-label">Preguntas creadas:</label>
                    <input type="text" value="{{cantidad_preguntas}}" name="nombreUsuario" readonly>
                </div>
            </div>
            <button class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=getMenuTablas'">Volver</button>
    </div>
</div>
{{/estadisticas}}


{{#tablaPorcentajes}}
<link rel="stylesheet" href="/ProyectoFinal/public/css/tablaPreguntas.css">
</head>
<body>
<div class="container" style="max-width: 700px;">
        <div class="lobby-box">
                <h2 style="margin-top:0">porcentaje de preguntas bien respondidas</h2>
            <div class="game-list">
            <select id="filterSelect" class="custom-select">
                          <option value="total">Total</option>
                          <option value="dia">Día</option>
                          <option value="semana">Semana</option>
                          <option value="mes">Mes</option>
                          <option value="anio">Año</option>
                    </select>
                <table class="preguntas-table">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Porcentaje</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#porcentajes}}
                        <tr>
                            <td>{{nombreUsuario}}</td>
                            <td>{{porcentaje_preguntas_correctas}}%</td>
                        </tr>
                    {{/porcentajes}}
                    </tbody>
                </table>
            </div>
        </div>
        <div style="display:flex;justify-content:end;gap:1em">
                    <button style="align-items:end" class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=getMenuTablas'">Volver</button>
        </div>
</div>
{{/tablaPorcentajes}}

{{#paises}}
<link rel="stylesheet" href="/ProyectoFinal/public/css/tablaPreguntas.css">
</head>
<body>
<div class="container" style="max-width: 700px;">
        <div class="lobby-box">
                <h2 style="margin-top:0">porcentaje de preguntas bien respondidas</h2>
                <select id="filterSelect" class="custom-select">
                              <option value="total">Total</option>
                              <option value="dia">Día</option>
                              <option value="semana">Semana</option>
                              <option value="mes">Mes</option>
                              <option value="anio">Año</option>
                        </select>
            <div class="game-list">
                <table class="preguntas-table">
                    <thead>
                        <tr>
                            <th>Pais</th>
                            <th>cantidad de usuarios</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#usuariosPais}}
                        <tr>
                            <td>{{pais}}</td>
                            <td>{{cantidad_usuarios}}</td>
                        </tr>
                    {{/usuariosPais}}
                    </tbody>
                </table>
            </div>
        </div>
        <div style="display:flex;justify-content:end;gap:1em">
            <button style="align-items:end" class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=getMenuTablas'">Volver</button>
        </div>
</div>
{{/paises}}

{{#genero}}
<link rel="stylesheet" href="/ProyectoFinal/public/css/tablaPreguntas.css">
</head>
<body>
<div class="container" style="max-width: 700px;">
        <div class="lobby-box">
                <h2 style="margin-top:0">porcentaje de preguntas bien respondidas</h2>
                <select id="filterSelect" class="custom-select">
                              <option value="total">Total</option>
                              <option value="dia">Día</option>
                              <option value="semana">Semana</option>
                              <option value="mes">Mes</option>
                              <option value="anio">Año</option>
                        </select>
            <div class="game-list">
                <table class="preguntas-table">
                    <thead>
                        <tr>
                            <th>Genero</th>
                            <th>cantidad de usuarios</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#usuariosSexo}}
                        <tr>
                            <td>{{genero}}</td>
                            <td>{{cantidad_usuarios}}</td>
                        </tr>
                    {{/usuariosSexo}}
                    </tbody>
                </table>
            </div>
        </div>
        <div style="display:flex;justify-content:end;gap:1em">
            <button style="align-items:end" class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=getMenuTablas'">Volver</button>
        </div>
</div>
{{/genero}}

{{#edad}}
<link rel="stylesheet" href="/ProyectoFinal/public/css/tablaPreguntas.css">
</head>
<body>
<div class="container" style="max-width: 700px;">
        <div class="lobby-box">
                <h2 style="margin-top:0">porcentaje de preguntas bien respondidas</h2>
                <select id="filterSelect" class="custom-select">
                              <option value="total">Total</option>
                              <option value="dia">Día</option>
                              <option value="semana">Semana</option>
                              <option value="mes">Mes</option>
                              <option value="anio">Año</option>
                        </select>
            <div class="game-list">
                <table class="preguntas-table">
                    <thead>
                        <tr>
                            <th>Grupo edad</th>
                            <th>cantidad de usuarios</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#usuariosEdad}}
                        <tr>
                            <td>{{grupo_edad}}</td>
                            <td>{{cantidad_usuarios}}</td>
                        </tr>
                    {{/usuariosEdad}}
                    </tbody>
                </table>
            </div>
        </div>
        <div style="display:flex;justify-content:end;gap:1em">
            <button style="align-items:end" class="btn" onclick="location.href='/ProyectoFinal/index.php?controller=admin&action=getMenuTablas'">Volver</button>
        </div>
</div>
{{/edad}}